@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

/* Light Mode */
.color-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.color-scrollbar::-webkit-scrollbar-track {
  background-color: #f9fafb; /* slate-50 */
}

.color-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* gray-300 */
  border-radius: 8px;
  border: 2px solid #f9fafb;
}

.color-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* gray-400 */
}

/* Dark Mode */
.dark .color-scrollbar::-webkit-scrollbar-track {
  background-color: #1f2937; /* slate-800 */
}

.dark .color-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* slate-600 */
  border: 2px solid #1f2937;
}

.dark .color-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* slate-400 */
}
